{% extends 'base.html' %}
{% load static %}

{% block titlePage %} Редактирование профиля {% endblock %}

{% block headLinks %}
    <link rel="stylesheet" href="{% static 'css/styleEditProfile.css' %}">
{% endblock %}

{% block body %}

<main>

    <form method="post" class="profie-info">
        {% csrf_token %}

        <label for="login">Логин</label>
        <input type="text" name="login" id="login" value="{{ user.login }}">

        <label for="name">Имя</label>
        <input type="text" name="name" id="name" value="{{ user.name }}"/>

        <label for="email">Почта</label>
        <input type="text" name="email" id="email" value="{{ user.email }}"/>

        <label for="city">Город</label>
        <input type="text" name="city" id="city" value="{{ user.city }}"/>

        <input type="submit" value="Изменить свой профиль">
    </form>

</main>

{% endblock %}