{% extends 'base.html' %}
{% load static %}

{% block titlePage %} 123{% endblock %}

{% block headLinks %}
    <link rel="stylesheet" href="{% static 'css/createEditArticleStyle.css' %}">
{% endblock %}

{% block body %}
<main>
        <form method="post">
            {% csrf_token %}
            <div class="name-article">
                <h2>Название статьи</h2>
                <input
                        type="text"
                        placeholder="название статьи"
                        name="title_article"
                        value= "{{ article.title }}"
                >
            </div>

            <div class="content-article">
                <h2>Текст статьи</h2>
                <textarea
                        name="content"
                        id="content"
                        cols="30"
                        rows="10"
                        placeholder="Текст статьи"
                        value= "{{ article.content }}"
                ></textarea>
            </div>

            <div class="name-article">
                <h4>Выберите цвет статьи</h4>
                <input type="color" name="color_article">
            </div>

            <div class="send-article">
                <input type="submit" value="Опубликовать">
            </div>
        </form>
</main>
{% endblock %}