{% extends 'base.html' %}
{% load static %}

{% block titlePage %} BLOG {% endblock %}

{% block headLinks %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %} 
<main>
    {% if len_articles == 0 %}
        <h1>Статей нет</h1>
    {% endif %}

    <form method="get">
        <input type="submit" name="order-likes" value="Тренды">
    </form>

    <form method="get">
        <input type="submit" name="order-dislikes" value="Анти тренды">
    </form>
    
    {% for i in articles %}
        <a href="{% url 'post_detail' i.id %}" class="article">
            <div class="preview" style="background-color: {{ i.color }}"></div>
            <div class="text-info">
                <div class="article-title">
                    {{ i.title }}
                </div>
                <div class="article-author">
                    {{ i.idUser.name }}
                </div>
            </div>
        </a>

    {% endfor %}
</main>
{% endblock %}  