*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100%;
    height: 87px;
    background-color: #FF2121;

}

.header-content{
    position: relative;
    width: 1530px;
    height: 100%;

    margin-left: calc((100% - 1530px) / 2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item{
    min-width: calc(100% / 3);
    display: flex;
    align-items: center;

    color: #fff;
}

.logo{
    justify-content: start;
    font-weight: bold;
    font-size: 28px;
}

.link-logo{
    color: #fff;
    text-decoration: none;
}


.search-field{
    width: 610px;
    height: 40px;
    border-radius: 30px;

    outline: none;
    border: none;

    box-sizing: border-box;
    padding-left: 15px;

    transition: .5s ease-out;
}

.profile{
    justify-content: end;
    column-gap: 29px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.register,
.logIn{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.register{
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 11px 22px 10px 22px ;

    transition: .3s ease-out;
}

.register:hover{
    background-color: #fff;
    color: black;

    transition: .3s ease-out;
}

.gamburger{
    width: 40px;
    height: 50px;

    display: none;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.gamburger span{
    position: relative;
    
    width: 100%;
    height: 5px;

    background-color: #fff;
    border-radius: 3px;
}

.active-profile-mobile{
    position: absolute;
    top: 87px;
    left: 100%;
    transform: translate(-100%, 0);
    z-index: 2;

    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20px;

    background-color: #C4C4C4;
    border-radius: 0 0 0 30px;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.active-mobile-login,
.active-mobile-reg{
    border: none;
    padding: 0;
    font-size: 20px;
}

@media (max-width: 1530px) {
    .header-content{
        margin: 0;
        box-sizing: border-box;
        padding: 0 15px 0 15px;
        width: 100%;
    }
}

@media (max-width: 1070px) {

    .reg-and-login{
        display: none;
    }

    .gamburger{
        display: flex;
    }

    .header-content{
        column-gap: 15px;
    }

    .header-item:nth-child(1){
        min-width: 25%;
    }

    .header-item:nth-child(3){
        min-width: 10%;
    }

    .header-item:nth-child(2){
        min-width: 50%;
    }
}

@media (max-width: 450px) {
    /* .reg-and-login{
        display: none;
    }

    .gamburger{
        display: flex;
    } */

    .logo{
        display: none;
    }
}