/* === Стили для main === */
main{
    width: 1530px;
    margin-top: 84px;

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
} 

.article{
    width: 360px;
    min-height: 238px;
    display: flex;
    flex-direction: column;

    text-decoration: none;
}

.preview,
.text-info{
    position: relative;
    width: 100%;
}

.preview{
    min-height: 163px;

    border-radius: 30px 30px 0 0;
    background-color: #C4C4C4;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.text-info{
    min-height: 75px;

    display: flex;
    flex-direction: column;
    row-gap: 2px;

    box-sizing: border-box;
    padding-left: 14px;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);

    border-radius: 0 0 30px 30px;
}

.article-title{
    margin-top: 12px;
    font-weight: 500;
    font-size: 24px;    
    color: #000;
}
 
.article-author{
    font-weight: 500;
    font-size: 16px;  
    color: #7B7B7B;  
    
    margin-bottom: 12px;
}

@media (max-width: 1530px) {
    main{
        width: 100%;

        justify-content: space-around;

        box-sizing: border-box;
        padding: 0 15px 0 15px;
        
    }
}